# Копируйте этот файл в .env (не добавляя его в гит)
# Впишите сюда свой Gemini API ключ
VITE_GEMINI_API_KEY=your_api_key_here

# Если вы хотите использовать этот стенд глобально, 
# вы также можете использовать переменную:
# VITE_GLOBAL_GEMINI_API_KEY=your_api_key_here
